<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615004966903-99oo52u17lpfjd95uep83pip1i2hk4ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615004966903-99oo52u17lpfjd95uep83pip1i2hk4ti</string>
	<key>API_KEY</key>
	<string>AIzaSyAkng3ZoR3lobQrQf1lw6x7h09-3n6tgvY</string>
	<key>GCM_SENDER_ID</key>
	<string>615004966903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sparkyScouts</string>
	<key>PROJECT_ID</key>
	<string>sparky-scouts</string>
	<key>STORAGE_BUCKET</key>
	<string>sparky-scouts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615004966903:ios:7e77be0c5bfc553cf028f2</string>
</dict>
</plist>